.button {
  font-family: 'Exo 2', sans-serif;
  border: none;
  background: transparent;
  color: #00791f;
  padding: 0 10px;
  cursor: pointer;
  font-size: 1.9rem;
  display: flex;
  align-items: center;
}

.button:disabled {
  color: #c9c9c9;
  cursor: default;
}