.incrementInput {
  font-family: 'Exo 2', sans-serif;
  font-size: 1.1rem;
  border-radius: 10px;
  border: 1px solid #858585;
  width: 55px;
  text-align: center;
}

.incrementInput:focus {
  outline: 1px solid #00791f;
}

.incrementInput:disabled {
  border: 1px solid #c9c9c9;
  background-color: transparent;
  color: #c9c9c9;
}

.incrementInput::-webkit-inner-spin-button,
.incrementInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.small {
  height: 24px;
}

.medium {
  height: 40px;
}

.large {
  height: 56px;
}


